<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Selenium Practice" verbose="3">
    <listeners>
        <listener class-name="org.testng.reporters.EmailableReporter2"/>
    </listeners>

    <test name="System Test">
        <packages>
            <package name="com.herokuapp.theinternet.test"/>
        </packages>
        <!--<classes>
            <class name="com.herokuapp.theinternet.test.LoginPageTest"/>
            <class name="com.herokuapp.theinternet.test.SecureAreaTest"/>
        </classes>-->
        <!--<groups>
            <run>
                <include name="positive"/>
            </run>
        </groups>-->
    </test>
</suite>
