<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Selenium Practice">
    <test verbose="2" name="System Test">
        <classes>
            <class name="com.herokuapp.theinternet.test.LoginPageTest"/>
        </classes>
    </test>
</suite>
